.littlePaddingLeft {
    padding-left: 1rem;
}

.selectableItem{
    cursor: pointer
}

.bottom {
    position: absolute;
    bottom: 2rem;
}

.flex{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.marginTop{
    margin-top: 1rem;
}

img{
    height: 12rem;
    width: 12rem;
}

.selected{
    border-style: dashed;
    border-color: blue;
    border-width: 0.5rem;
}

.flexHorizontal{
    display: flex;
    flex-direction: row;
}

.littleMargin{
    margin: 2rem;
}

.marked {
    
}