<nav class="navbar navbar-expand-lg navbar-dark bg-dark littleBottomMargin">
  <div class="navbar-nav">
    <a class="nav-item active nav-link" routerLink="/modelCreate" routerLinkActive="active">Nuevo modelo</a>
    <a class="nav-item active nav-link" routerLink="/trainModel" routerLinkActive="active">Entrenar modelo</a>
    <a class="nav-item active nav-link" routerLink="/testModel" routerLinkActive="active">Probar modelo</a>
    <a class="nav-item active nav-link" routerLink="/predictions" routerLinkActive="active">Predicción</a>
  </div>
</nav>
<router-outlet>

</router-outlet>