<div id="createModel" class="row">
  <div class="col-md-8 offset-md-2 form-group">
    <label>Nombre:</label>
    <input type="text" class="form-control" [(ngModel)]="network.name" />
  </div>
  <div class="col-md-4 offset-md-2 form-group">
    <label>Alfa:</label>
    <input type="number" min="0.1" max="1" step="0.1" [(ngModel)]="network.alfa" class="form-control" />
  </div>
  <div class="col-md-4 form-group">
    <label>Número de entradas:</label>
    <input type="number" [(ngModel)]="network.inputs" class="form-control">
  </div>
  <div class="col-md-4 offset-md-2 form-group">
    <label>Número de capas:</label>
    <input type="number" [(ngModel)]="network.layers" class="form-control">
  </div>
  <div class="col-md-4 form-group">
    <label>Número de clases:</label>
    <input type="number" class="form-control" [(ngModel)]="numClassInputs">
  </div>
  <hr class="col-md-10 offset-md-1" >
  <div class="col-md-4 form-group" *ngFor="let item of toNumberArray(); let i = index;" [ngClass]="{'offset-md-2': i % 2 == 0}">
    <label>Clase {{i + 1}}:</label>
    <input type="text" class="form-control" [(ngModel)]="network.classes[i]" #classValue>
  </div>
</div>

<div class="row">
  <div class="col-md-2 offset-md-5">
    <button class="btn btn-success" [disabled]="!enableButton" (click)="createModel()">Crear modelo</button>
  </div>
</div>