<div id="demo" class="marginTop">
  <div class="row">
    <div class="col-md-2 offset-md-4">
      <input type="text" class="form-control-plaintext" id="staticEmail2" value="Haz una predicción!" readonly>
    </div>
    <div class="col-md-2">
      <div>
        <label for="image" class="btn btn-primary">Selecciona imagen</label>
        <input type="file" style="visibility:hidden;" id="image">
      </div>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-md-12">
      <img id="selectedImage">
    </div>
    <div class="col-md-12">
      <h1 id="result"></h1>
    </div>
  </div>
</div>